<div class="page">
    <div class="form">
        <br>
        <form class="ngform" style="width: 500px">
            <h2 style="color: #75C9C8;">Shopping cart</h2>
            <br><br>
            
            
            
            <br><br>
            <button type="button" class="btn btn-danger" style="margin-right: 20px; font-size: 18px; width: 100px; background-color: #E68A75;" (click)="back()">Back</button>
            <button type="button" class="btn btn-info" style="font-size: 18px; width: 100px;background-color: #75C9C8;">Next</button>
        </form>
        
    </div>
    <div>
</div>

