<div class="banner">
    <div *ngFor="let item of items; index as i;" class="card mb-3" style="border-color: #f5f3f2; border-width: 2px; width: 350px;">
        <div class="card-header">   Item:  <span>{{item.name}}</span>
        <!--<a class="showBtn" [routerLink]="['/show-connection', c.id]">
            <i class="fas fa-info-circle fa-lg"></i>
        </a>-->
        </div>
        <div class="card-body">
            <div *ngIf="getUsername() == item.username">
                <a class="editBtn" [routerLink]="['/edit-item', item.id]">
                    <i class="fas fa-edit fa-lg"></i>
                </a>
                <button class="deleteBtn" style="border: none; background:transparent" (click)="deleteItem(item.id)">
                    <i class="fas fa-trash-alt fa-lg"></i>
                </button>
            </div>
            <br>
            <div *ngFor="let img of item.imageBytes; index as j;">
                <img *ngIf="img.image" [src]="img.imageByte" width="250" height="250" style="display:block; margin-left:auto; margin-right:auto">
            </div>
            <br>
            <p style="text-align: left; font-size: 15px;color: #C0B9DD;">
                Description: <span style="font-style: italic;">{{item.description}}</span><br>
                Quantity: <span>{{item.quantity}}</span><br>
            </p>
            <p style="text-align:right;font-size:20px; margin-top: 15px;color: #80A1D4; font-weight: bold;">
                = {{item.price}}e
            </p>
        </div>
    </div>
</div>

<a class="float" (click)="createItem()" style="cursor: pointer;">
    <i class="fas fa-plus my-float"></i>
</a>
